.App {
	background-color: #5f4d62;
	border: 1px solid rgb(35, 11, 58);
	margin: 50px 50px;
	width: 70vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	color: rgb(241, 238, 243);
}

.textBox {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	background-color: #e6e6e6;
}
p {
	border: 1px solid blueviolet;
	padding: 3px;
	width: 250px;
	height: 200px;
}

span {
	font-weight: 700;
	font-size: 20px;
}

/* .textBox {
} */

.exemple1 {
	/* overflow: visible; */ /* va dépasser du cadre */
	overflow: scroll;
}

.exemple2 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* text-overflow définit la façon dont le contenu textuel qui dépasse d'une boîte est signalé pour les utilisateurs. Le texte peut être rogné (clipping), afficher une ellipse ('…',  */
}

.exemple3 {
	display: -webkit-box;
	max-width: 330px;
	-webkit-line-clamp: 8; /* ajoute ... sur la ligne désirée */
	-webkit-box-orient: vertical;
	overflow: hidden; /* cacher le reste */
}
